<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:insert="~{template :: head}">
  <meta charset="UTF-8">
  <title>Listado de clientes</title>
</head>
<body>
<header th:replace="template :: header"></header>
<div class="container">
  <br><br>
  <h1 th:text="${titulo}"></h1>
  <br><br>
  <a th:href="@{/clientes/crear}" class="btn btn-secondary">Agregar cliente</a>
  <br><br>
  <table class="table table-striped">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Email</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Acciones</th>
    </tr>
    <tr th:each="cliente : ${listaDeClientes}">
      <td th:text="${cliente.id}"></td>
      <td th:text="${cliente.nombre}"></td>
      <td th:text="${cliente.apellido}"></td>
      <td th:text="${cliente.telefono}"></td>
      <td th:text="${cliente.email}"></td>
      <td th:text="${cliente.ciudad?.ciudad}"></td>
      <th>
        <a   th:href="@{'/clientes/editar/' + ${cliente.id}}"><img style="width: 35px; height: 35px; margin-right:5px" src="../svg/edit-square-icon.svg"></a>
        <a><img style="width: 35px; height: 35px;" src="../svg/close-square-icon.svg"></a>
      </th>

    </tr>
  </table>
</div>

<footer th:insert="~{template :: footer}"></footer>
</body>
</html>