<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:insert="~{template :: head}">
  <meta charset="UTF-8">
  <title>Listado de s</title>
</head>
<body>
<header th:replace="template :: header"></header>
<div class="container">
  <br><br>
  <h1 th:text="${titulo}"></h1>
  <br><br>
  <a th:href="@{/empleados/crear}" class="btn btn-secondary">Agregar empleado</a>
  <br><br>
  <table class="table table-striped">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Email</th>
      <th scope="col">Salario</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Acciones</th>
    </tr>
    <tr th:each="empleados : ${listaDeEmpleados}">
      <td th:text="${empleados.id}"></td>
      <td th:text="${empleados.nombre}"></td>
      <td th:text="${empleados.apellido}"></td>
      <td th:text="${empleados.telefono}"></td>
      <td th:text="${empleados.email}"></td>
      <td th:text="${empleados.salario}"></td>
      <td th:text="${'U$D ' + empleados.puesto}"></td>
      <td th:text="${empleados.ciudad?.ciudad}"></td>
      <th>
        <a th:href="@{'/empleados/editar/' + ${empleados.id}}"><img style="width: 35px; height: 35px; margin-right:5px" src="../svg/edit-square-icon.svg"></a>
        <a th:href="@{'/empleados/eliminar/' + ${empleados.id}}"><img style="width: 35px; height: 35px;" src="../svg/close-square-icon.svg"></a>
      </th>

    </tr>
  </table>
</div>

<footer th:insert="~{template :: footer}"></footer>
</body>
</html>