<!doctype html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/http-errors.css}" rel="stylesheet" />
    <title>Error 500</title>
</head>
<body>
<div class="container">
    <section><span class="status" th:text="${error}"></span> - <span
            class="status" th:text="${status}"></span></section>
    <img class="img-500" th:src="@{/img/500.png}">
</div>
</body>
</html>